<!DOCTYPE html>
<html dir="ltr" lang="zh-CN" class="mobile-nav-visible v2  ">
    <head>
        {block name="head"}
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="author" content="Paxful, Inc.">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
                    <title>立即买卖加密货币 | Paxful</title>
        <meta name="description" content="Paxful是一家全球性加密货币交易平台，在这里，您可以使用300多种支付方式与数百万用户安全交易。立即获取免费账号吧。">
        
        
        
        <meta property="og:title" content="立即买卖加密货币 | Paxful">
        <meta property="og:type" content="article" />
        <meta property="og:description" content="Paxful是一家全球性加密货币交易平台，在这里，您可以使用300多种支付方式与数百万用户安全交易。立即获取免费账号吧。" />
        <meta property="og:image" content="/assets/images/og/home_page.jpg?v=1633105205" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta property="og:url" content="/" />
        <meta property="og:site_name" content="Paxful" />
        <meta property="fb:page_id" content="844672225592036" />

   
        <link rel="apple-touch-icon" href="/assets/images/favicons/apple-touch-icon.png?v=1633105205">
<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-icon-57x57.png?v=1633105205">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-icon-60x60.png?v=1633105205">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-icon-72x72.png?v=1633105205">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-icon-76x76.png?v=1633105205">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-icon-114x114.png?v=1633105205">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-icon-120x120.png?v=1633105205">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-icon-144x144.png?v=1633105205">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-icon-152x152.png?v=1633105205">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-icon-180x180.png?v=1633105205">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.webp?v=1633105205">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicons/favicon-96x96.webp?v=1633105205">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.webp?v=1633105205">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/favicons/favicon-192x192.webp?v=1633105205">

<meta name="msapplication-TileColor" content="#6b33a7">
<meta name="msapplication-TileImage" content="/assets/images/favicons/ms-icon-144x144.png?v=1633105205">
<meta name="msapplication-square70x70logo" content="/assets/images/favicons/ms-icon-70x70.png?v=1633105205">
<meta name="msapplication-square150x150logo" content="/assets/images/favicons/ms-icon-150x150.png?v=1633105205">
<meta name="msapplication-square310x310logo" content="/assets/images/favicons/ms-icon-310x310.png?v=1633105205">
<meta name="msapplication-wide310x150logo" content="/assets/images/favicons/ms-icon-310x150.png?v=1633105205">
<meta name="theme-color" content="#6b33a7">
<link rel="preconnect" href="//fonts.gstatic.com/" crossorigin >
<link  rel="preload" href="//fonts.googleapis.com/css?family=Montserrat:600,700,800,900|Tajawal:300,400,600,700,800,900|Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic,cyrillic-ext,latin-ext" as="style" onload="this.onload=null;this.rel='stylesheet'" >

<link rel="stylesheet" property="stylesheet" href="/static/css/vanilla-bundle.css" type="text/css">
<link rel="stylesheet" property="stylesheet" href="/static/css/index.css" type="text/css">
 <script src="/static/js/vue.min.js"></script>
<script src="/static/js/axios.min.js"></script>
 <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/dist/layer.js"></script>
      {/block}
  </head>                  
                
     <body class=" ltr">  
       

{block name="body"}{/block}
        
                     
</body>
</html>
