{extend name="iframe" /}

{block name="body"}
<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
    <form action="{:request()->url()}" method="post" class="xn_ajax" data-type="open">
        
        <div class="layui-form-item">
            <label class="layui-form-label">id</label>
            <div class="layui-input-inline">
                <input type="text" name="id" lay-verify="required" placeholder="" autocomplete="off" class="layui-input" value="{$user_data.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户uid</label>
            <div class="layui-input-inline">
                <input type="text" name="uid" placeholder="" autocomplete="off" class="layui-input" value="{$user_data.uid}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-inline">
                <input type="text" name="title" placeholder="" autocomplete="off" class="layui-input" value="{$user_data.title}">
            </div>
        </div>
       
      
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <input type="checkbox" lay-verify="required" lay-filter="status" name="has_readed" lay-skin="switch" lay-text="读取|未读" value="1" {if condition="$user_data['has_readed'] eq 1"}checked{/if} >
            </div>
        </div>
   
 <div class="layui-card">
                <div class="layui-card-header"> </div>
                <div class="layui-card-body" pad15="">
                    <textarea name="contents" id="content">{$user_data.contents}</textarea>
                </div>
            </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" lay-submit class="layui-btn">保存</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="js"}
<!--编辑器-->
<script src="/static/admin/ueditor/ueditor.config.js"></script>
<script src="/static/admin/ueditor/ueditor.all.min.js"></script>
<script src="/static/admin/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>
    UE.getEditor('content',{
        initialFrameWidth :800,// 设置编辑器宽度
        initialFrameHeight:200,// 设置编辑器高度
        scaleEnabled:true
    });
</script>
{/block}